.botonpro {
  width: 300px;
  height: 300;

  align-items: center;
}
.botonInicio {
  width: 200px;
  color: black;
}

.botonnob {
  width: 300px;
  height: 300;

  align-items: center;
}
.botonInicio {
  width: 200px;
  color: black;
}

.boton2 {
  margin-top: 100;
  color: white;
}

.boton43 {
  width: 180px;
}
.formulario {
  margin-top: 10px;
  margin-left: 200px;
  width: 1050px;
}

.botonIngresar {
  color: black;
  width: 200px;
  height: 50px;

  margin-top: 25px;
  text-align: center;
  margin-left: 130px;
}
.botonOlvido {
  color: black;
  width: 300px;
  margin-left: 70px;
}
.botonCrea {
  color: black;
  width: 300px;
  margin-left: 54px;
}
.botonvolver {
  background-color: #ffff;
}
.boton51 {
  background-color: rgb(73, 73, 73);
}
.boton1 {
  justify-content: center;
}
