
.imagenInicio{
  width: 200px;
height: 200px;
margin-top: 80;
}

.botonpro{
width: 300px;
height: 300;
background-color: aqua;

}
.botonInicio{
  width: 200px;
color: black;

}
.imagenInicio{
  width: 200px;
height: 200px;
margin-top: 80;
}

.botonpro{
width: 300px;
height: 300;
background-color: aqua;

}
.botonInicio{
  width: 200px;
color: black;

}

.botones{

}